@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background:#0f0f0f;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}
.principal {
    width: 100%;
    min-height: 100vh;

    display: flex;

    padding-top: 30px;

    background-image: url('/assets/img/violao.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.principal::before{
    content: '';
    position:absolute;
    inset:0;
    background: linear-gradient(
        #00000080,
        #00000070
    );
    z-index: 1;
}

.lado-esquerdo {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 60px;
    position: relative;
    z-index: 2;
}

.conteudo-esquerdo {
    max-width: 400px;
    position: relative;
    z-index: 2;
    right: 80px;
    bottom: 45px;

    text-align: left;
}

.boas-vindas {
    color:#ffb700;
    font-size: 15px;
    margin-bottom: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h1 {
    font-size: 75px;
    line-height: 70px;
    color:#ffb700;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
}

.linha {
    width: 238px;
    height: 2px;

    background: #ffb700;
    margin: 28px 0;

}

.descricao {
    color: #fff8e0;
    font-size: 16px;
    margin-bottom: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    max-width: 520px;
    line-height: 1.6;

    text-shadow:
        0 2px 8px #0f0f0fE6,
        0 1px 2px #0f0f0fCC;
}

.lado-direito {
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 60px;

   position: relative;
   z-index: 2;
}

.formulario {
    color:#ffb700;
    width: 100%;
    max-width: 470px;
    padding: 55px;
    border-radius: 32px;
    background: #0f0f0f;
    border: none;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(14px);
    box-shadow: 0 8px 40px #0f0f0f;
}

mat-button-toggle-group {
    margin-bottom: 24px;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 3px;
}

h2 {
    font-family: 'Cormorant Garamound', serif;
    font-size: 39px;
    font-weight: 600;
    line-height: 55px;
    margin-bottom: 7px;
}

.texto-formulario {
    color: #b0b0b0;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
    max-width: 420px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #fff8e0;
    margin-bottom: 10px;
    margin-top: 18px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

input {
    padding: 0 20px;
    height: 60px;
    border: 1px solid #2b2b2b;
    border-radius: 16px;
    background-color: #ffffff0a;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

input:focus {
    outline: none;
    border: 1px solid #f3db53;
    box-shadow: 0 0 0 4px #f3db5314;
}

.erro {
    color: #ff4d4d;

    font-size: 13px;

    margin-top: 6px;

    display: block;
}

.esqueci-senha {
    text-align: right;
    margin-top: 12px;
}

.esqueci-senha a {
    color: #ffb700;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    transition: 0.3s;
}

.botao {
    margin-top: 34px;
    height: 50px;
    border: none;
    border-radius: 18px;
    background-color: #ffb700;
    color: #111111;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Inter', sans-serif;
}

.botao:hover {
    opacity: 0.60;
}

.rodape-formulario {
    margin-top: 30px;
    text-align: center;
    color: #b0b0b0;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}

.rodape-formulario a {
    color: #f3db53;
    text-decoration: none;
    font-weight: 600;
}
